### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*

# Provided default Pycharm Run/Debug Configurations should be tracked by git
# In case of local modifications made by Pycharm, use update-index command
# for each changed file, like this:
# git update-index --assume-unchanged .idea/ecommerce_istebu_cookiecutter.iml
!.idea/runConfigurations/
!.idea/ecommerce_istebu_cookiecutter.iml
!.idea/vcs.xml
!.idea/webResources.xml


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env
.env_staging

# User-uploaded media
ecommerce_istebu_cookiecutter/media/
staticfiles/
templating_files/

# cloud-config
core-os-cloud-config.yml
create_coreos_droplet.sh

# py-test cache files bu sanırım...
.cache

# postgres_backups
postgres_backups

# ignore this trial file
eval.sh

# ignore xls, xlsx, xml files
*.xls
*.xlsx
*.xml

!/products/templates/products/xml/base.xml
!/products/templates/products/xml/products.xml
!/products/templates/products/xml/products_test.xml

# miscellaneous files
rm_cached.sh

# certificate files:
/compose/nginx/certs
