{% extends "__custom_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

{% block inner %}

    {% comment %}Include this to your upload page template{% endcomment %}

    <h1> {{ title }} </h1>

    <a href="{{ template_file }}">download template file -- buraya template file koyulabilir...</a>

    <form action="{{ file_upload_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        {{ importer_type_form|crispy }}<hr>
        {{ additional_form|crispy }}
        <input type="submit" value="Upload File" />
    </form>

    <hr>

{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_home.html' %}
{% endblock %}
