
<li><a href="{% url 'products:products' %}?category={{ category.title }}">{{ category.title }}{% if category.get_children %}<span class="caret">{% endif %}</span></a>
    {% if category.get_children %}
    <ul class="dropdown-menu">

        {% for child in category.get_children %}
            {% if child.get_children %}
                <li class="dropdown-submenu">
                <a href="{% url 'products:products' %}?category={{ child.title }}">{{ child.title }}</a>
                    <ul class="dropdown-menu">
                        {% for second_child in child.get_children %}
                            <li><a href="{% url 'products:products' %}?category={{ second_child.title }}">{{ second_child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'products:products' %}?category={{ child.title }}">{{ child.title }}</a></li>
            {% endif%}
        {% endfor %}
        <li>
            <a href="{% url 'products:products' %}?category={{ category.title }}">Tüm Ürünler<span class="caret"></span></a>
        </li>

    </ul>
    {% endif %}
</li>