{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

{% block inner %}
    <div class="row">
    <div class='text-center'>
        <p class='lead'>
            Lütfen siparişiniz için adres seçin.
        </p>
        <form method="POST" action=''>{% csrf_token %}
            {{ form|crispy }}
            <input class='aa-cart-view-btn btn-block' type='submit' value='DEVAM ET'/>
        </form>

    </div>
    </div>
    <hr>
    <div class="row">
        <a class='aa-cart-view-btn btn-block' href='{% url "user_address_create" %}'>YENİ ADRES EKLE</a>
    </div>
{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_home.html' %}
{% endblock %}
