
<div id="order-summary" class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center">
        <h2>{% if order.order_id %}#{{ order.order_id }} no.lu {% endif %}Sipariş Özeti</h2>
    </div>
</div>
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Ürün</th>
                                        <th>Fiyat (₺)</th>
                                        <th>Adet</th>
                                        <th>Toplam</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in order.cart.cartitem_set.all %}
                                        <tr id='item-{{ i.item.id }}'>
                                        <td><a id="{{ i.item.id }}" class="remove" href='#' onclick="return removeCartItem({{ i.item.id }});">
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="{{ i.item.product.micro_thumb }}" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">{{ i.item.get_title }}</a></td>
                                        <td>{{ i.item.get_sale_price }} ,-₺</td>
                                        <td>
                                            <form action="." method="GET"><input type='hidden' name='item' value='{{ i.item.id }}'/>
                                                <input type='number' class='aa-cart-quantity' name='qty' value='{{ i.quantity }}'/>
                                                <input type='submit' class='btn-update btn btn-link' value='Update item'
                                                    style='display:none;'/>
                                            </form>
                                        </td>
                                        <td id='item-line-total-{{ i.item.id }}'>{{ i.line_item_total }} ,-₺</td>
                                        </tr>
                                    {% endfor %}
                                    {% comment %}
                                    <tr>
                                        <td colspan="6" class="aa-cart-view-bottom">
                                            <div class="aa-cart-coupon">
                                                <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                                            </div>
                                            <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                                        </td>
                                    </tr>
                                    {% endcomment %}

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>GENEL TOPLAM :</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                <tr>
                                    <th>Kargo Ücreti :</th>
                                    <td>{{ order.shipping_total_price }} ,-₺</td>
                                </tr>
                                <tr>
                                    <th>Sipariş Toplamı :</th>
                                    <td id='carttotal'>{{ order.order_total }} ,-₺</td>
                                </tr>
                                </tbody>
                            </table>

                                    <form id="checkout" method='POST' action="{% url 'checkout_final' %}">{% csrf_token %}
                                        <script
                                            class="paynet-button"
                                            type="text/javascript"
                                            src="{{ paynet_js_url }}"
                                            data-key="{{ paynet_publishable_key }}"
                                            data-amount="{{ order.paynet_order_total }}"
                                            data-image="{% static 'img/paynet_72x72.png' %}"
                                            data-button_label="ÖDEMEYİ TAMAMLA"
                                            data-description="Ödemenizi tamamlamak için bilgileri girip tamam butonuna basınız"
                                            data-no_instalment="false"
                                            data-tds_required="false">
                                        </script>
                                    </form>

                        </div>
                        <hr>                 <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>ADRES BİLGİLERİ :</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                <tr>
                                    <th>Sevk Adresi :</th>
                                    <td>{{ order.shipping_address.get_address }}</td>
                                </tr>
                                <tr>
                                    <th>Fatura Adresi :</th>
                                    <td>{{ order.billing_address.get_address }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href='{% url "order_address" %}' class="aa-cart-view-btn">ADRES DEĞİŞTİR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>





