
<p class='lead'>
    {% if order.order_id %}#{{ order.order_id }} no.lu {% endif %}Sipariş Özeti</p>

<table class='table'>
    <tr>
        <td>{{ order.cart.cartitem_set.count }} ürün: <br/>{% for i in order.cart.cartitem_set.all %}
            <b>{{ i.item.get_title }}</b><br/>
        {% endfor %}</td>
    </tr>
    <tr>
        <td>Sepet Toplamı : {{ order.cart.subtotal }}</td>
    </tr>
    <tr>
        <td>KDV : {{ order.cart.tax_total }}</td>
    </tr>
    <tr>
        <td>KDV 'li Toplam : {{ order.cart.total }}</td>
    </tr>

    <tr>
        <td>Kargo Ücreti : {{ order.shipping_total_price }}</td>
    </tr>
    <tr>
        <td>Sipariş Toplamı : {{ order.order_total }}</td>
    </tr>


</table>

<div class="container">
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Ürün</th>
                                        <th>Fiyat (₺)</th>
                                        <th>Adet</th>
                                        <th>Toplam</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in order.cart.cartitem_set.all %}
                                        {{ i.item }}
                                        <tr>
                                        <td><a class="remove" href="#">
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="{{ i.item.product.micro_thumb }}" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">{{ i.item.get_title }}</a></td>
                                        <td>{{ i.item.get_sale_price }}</td>
                                        <td><input class="aa-cart-quantity" type="number" value="{{ i.quantity }}"></td>
                                        <td>$250</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><a class="remove" href="#">
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="img/man/polo-shirt-1.png" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                        <td>$250</td>
                                        <td><input class="aa-cart-quantity" type="number" value="1"></td>
                                        <td>$250</td>
                                    </tr>
                                    <tr>
                                        <td><a class="remove" href="#">
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="img/man/polo-shirt-2.png" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                        <td>$150</td>
                                        <td><input class="aa-cart-quantity" type="number" value="1"></td>
                                        <td>$150</td>
                                    </tr>
                                    <tr>
                                        <td><a class="remove" href="#">
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="img/man/polo-shirt-3.png" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                        <td>$50</td>
                                        <td><input class="aa-cart-quantity" type="number" value="1"></td>
                                        <td>$50</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="aa-cart-view-bottom">
                                            <div class="aa-cart-coupon">
                                                <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                                            </div>
                                            <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                <tr>
                                    <th>Subtotal</th>
                                    <td>$450</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>$450</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


<div class='text-center'>

    <p><b>Fatura Adresi :</b>
        <br/>
        {{ order.billing_address.get_address }}
    <p>
    <p><b>Sevk Adresi :</b>
        <br/>
        {{ order.shipping_address.get_address }}
    </p>
</div>


