<!-- single slide item -->

<li>
    <div class="seq-model">
        <a href="{{ slide.url }}"><img data-seq src="{{ slide.image.url }}" alt="{{ slide.title }} img"/></a>
    </div>
        <div class="seq-title">
            {% if show_text %}
            <span data-seq>{{ slide.campaign }}</span>
            <h2 data-seq> {{ slide.title }} </h2>
            <p data-seq> {{ slide.sub_title }} </p>
            <a data-seq href="{{ slide.url }}" class="aa-shop-now-btn aa-secondary-btn">ALIŞVERİŞE BAŞLA</a>
            {% endif %}
        </div>

</li>


