{% extends '__base.html' %}
{% load get_image_thumbnail %}

{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

{% block generic_page_header %}
    {% include 'products/_head_banner.html' %}
{% endblock %}

{% block content %}

<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a
                                                    data-lens-image="{{ object.productimage_set.all.0 | get_image_thumbnail:"hd" }}"
                                                    class="simpleLens-lens-image"><img
                                                    src="{{ object.productimage_set.all.0 | get_image_thumbnail:"sd" }}"
                                                    class="simpleLens-big-image"></a></div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            <a data-big-image="{{ object.productimage_set.all.0 | get_image_thumbnail:"sd" }}"
                                               data-lens-image="{{ object.productimage_set.all.0 | get_image_thumbnail:"hd" }}"
                                               class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="{{ object.productimage_set.all.0 | get_image_thumbnail:"micro" }}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>{{ object.title }}</h3>
                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price">{{ object.variation_set.first.get_html_price }}</span>
                                        <p class="aa-product-avilability">Stok Durumu:
                                            <span>
                                                {% if object.variation_set.all.0.inventory > 0 %}
                                                    Stok mevcut
                                                {% else %}
                                                    Stokta yok
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi,#}
{#                                        veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>#}
{#                                    <h4>Size</h4>#}
{#                                    <div class="aa-prod-view-size">#}
{#                                        <a href="#">S</a>#}
{#                                        <a href="#">M</a>#}
{#                                        <a href="#">L</a>#}
{#                                        <a href="#">XL</a>#}
{#                                    </div>#}
{#                                    <h4>Color</h4>#}
{#                                    <div class="aa-color-tag">#}
{#                                        <a href="#" class="aa-color-green"></a>#}
{#                                        <a href="#" class="aa-color-yellow"></a>#}
{#                                        <a href="#" class="aa-color-pink"></a>#}
{#                                        <a href="#" class="aa-color-black"></a>#}
{#                                        <a href="#" class="aa-color-white"></a>#}
{#                                    </div>#}
                                    <div class="aa-prod-quantity">
                                        <form action="">
                                            <select id="" name="">
                                                <option selected="1" value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option value="4">5</option>
                                                <option value="5">6</option>
                                            </select>
                                        </form>
                                        <p class="aa-prod-category">
                                            Kategori: <a href="{% url 'products:products' %}?category={{ object.get_main_category.slug }}">{{ object.get_main_category.title }}</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        {% if object.variation_set.all.0.inventory > 0 %}
                                            <a id="detail-add-to-cart" class="aa-add-to-cart-btn" data-productid="{{ object.pk }}" href="#">Sepete At</a>
                                        {% else %}
                                            <p>Ürün geçici olarak temin edilememektedir.</p>
                                        {% endif %}

{#                                        <a class="aa-add-to-cart-btn" href="#">Wishlist</a>#}
{#                                        <a class="aa-add-to-cart-btn" href="#">Compare</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Ürün Açıklaması</a></li>
{#                            <li><a href="#review" data-toggle="tab">Reviews</a></li>#}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
                                {{ object.description|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="aa-product-related-item">
                        <h3>Benzer Ürünler</h3>
                        <ul class="aa-product-catg aa-related-item-slider">
                            {% include '_products_section/_single_product.html' with products=related %}
                        </ul>
                        <!-- quick view modal -->
                        {% include '_products_section/_quick_view_modal.html' %}
                        <!-- / quick view modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->

{% endblock %}



{% block subscribe_section %}
    {% include '_subscribe_section.html' %}
{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_product_detail.html' %}
{% endblock %}

