{% extends '__base.html' %}

{% block messages %}
    {% include '_messages.html' %}
{% endblock %}
<!-- !Important notice -->
<!-- Only for product page body tag have to added .productPage class -->
{% block class %} class="productPage" {% endblock %}

{% block generic_page_header %}
    {% include 'products/_head_banner.html' %}
{% endblock %}


{% block content %}
    <!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            {% include 'products/_products_right_column.html' with object_list=object_list %}
            {% include 'products/_products_left_column.html' with categories=categories %}
         </div>
    </div>
</section>
<!-- / product category -->
{% endblock %}


{% block subscribe_section %}
    {% include '_subscribe_section.html' %}
{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_others.html' %}
{% endblock %}


