figure {
    margin: 1px;
}

/*.container-alert-flash {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*z-index: 50000;*/
    /*width: 100%;*/
    /*right: 0%;*/
    /*margin: 0px;*/
    /*display: none;*/
/*}*/

.container-alert-flash {
    position: fixed;
    top: 25%;
    z-index: 50000;
    width: 100%;
    right: 25%;
    margin: 0px;
    display: none;
}


#aa-product .aa-product-area .aa-product-inner #one-cikanlar {
    text-align: center;
    padding-bottom: 35px;
}

#aa-product .aa-product-area .aa-product-inner #firsat {
    text-align: center;
    padding-bottom: 35px;
}

#aa-product .aa-product-area .aa-product-inner #kampanya {
    text-align: center;
    padding-bottom: 35px;
}

#aa-product .aa-product-area .aa-product-inner #cok-satan {
    text-align: center;
    padding-bottom: 35px;
}

.simpleLens-thumbnails-container img{
    max-width: 45px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
  margin: 0 0 10px 10px; !important;
}

.pagination > li.active > a {
    z-index: 3;
    color: #fff; !important;
    cursor: default;
    background-color: #37c6f5;
    border-color: #37c6f5;
}

.aa-reset-btn {
    color: #fff;
    font-size: 15px;
    height: 30px;
    width: 140px;
    background-color: #37c6f5;
    border: 1px solid #37c6f5;
}
