{% extends "__base.html" %}

{% block title %}Server Hatası{% endblock %}

{% block content %}
<!- 500 error section -->

<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Ooops!!! 500</h2>
                    <h3>Kritik bir hata oluştu!</h3>
                    <span>Serverımızda oluşan hatalar teknik ekibimize raporlanıyor,</span>
                    <p>Az önce oluşan hata da ekibimizce incelenecek ve en hızlı şekilde gerekli önlemler alınacaktır.
                        Kısa süre sonra tekrar denediğinizde hata devam ediyorsa, muhtemelen ekibimizin gözünden kaçmış
                        demektir. Bu gibi durumlarda bize ulaşıp hatayı bildirirseniz teknik ekibimiz size minnettar
                        kalacaktır :-) . Hata bildirimi için: <a href="{% url 'contact' %}"> bize yazın.</a> Ya da:</p>
                    <p><a href="{% url 'home' %}"> Anasayfa</a> 'ya dönün. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_home.html' %}
{% endblock %}
