{% load staticfiles %}
{% load query_transform %}
<!-- Start header section -->
<header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">
                        <!-- start header top left -->
                        <div class="aa-header-top-left">
                            <!-- start cellphone -->
                            <div class="cellphone hidden-xs">
                                <p><span class="fa fa-phone"></span>(212) - 220 9069</p>
                            </div>
                            <!-- / cellphone -->
                        </div>
                        <!-- / header top left -->
                        <div class="aa-header-top-right">
                            <ul class="aa-head-top-nav-right">
{#                                <li>#}
{#                                    <a href='{% url "cart" %}'><i class="fa fa-shopping-cart fa-navbar-cart"></i> <span#}
{#                                            id="cart-count-badge" class='badge'>{{ request.session.cart_item_count }}</span></a>#}
{#                                </li>#}
                            {% if request.session.cart_item_count > 0 %}
                                <li class="hidden-xs"><a href="{% url 'checkout' %}">Alışverişi Tamamla</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'orders' %}">Siparişlerim</a></li>
                                <li><a href="{% url 'account_logout' %}">Çıkış</a></li>
                            {% else %}
                                <li><a href="{% url 'account_signup' %}">Kayıt Ol</a></li>
                                {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Giriş Yap</a></li>
                                {% endif %}

                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top  -->

    <!-- start header bottom  -->
    <div class="aa-header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-bottom-area">
                        <!-- logo  -->
                        <div class="aa-logo">
                            <!-- Text based logo -->
{#                            <a href="index.html">#}
{#                                <span class="fa fa-shopping-cart"></span>#}
{#                                <p>daily<strong>Shop</strong> <span>Your Shopping Partner</span></p>#}
{#                            </a>#}
                            <!-- img based logo -->
                            <a href="{% url 'home' %}"><img src="{% static 'img/istebu_logo.png' %}" alt="logo img"></a>
                        </div>
                        <!-- / logo  -->
                        <!-- cart box -->
                        <div class="aa-cartbox">
                            <a class="aa-cart-link" href="#">
                                <span class="fa fa-shopping-basket"></span>
                                <span class="aa-cart-title">SEPETİM</span>
                                <span id="cart-count-badge" class="aa-cart-notify">2</span>
                            </a>
                            <div class="aa-cartbox-summary">
                                <ul id="cartbox-summary">

                                    <li>
                                        <a class="aa-cartbox-img" href="#"><img src="{% static 'img/woman-small-2.jpg' %}"
                                                                                alt="img"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Product Name</a></h4>
                                            <p>1 x $250</p>
                                        </div>
                                        <a class="aa-remove-product" href="#"><span class="fa fa-times"></span></a>
                                    </li>
                                    <li>
                                        <a class="aa-cartbox-img" href="#"><img src="{% static 'img/woman-small-1.jpg' %}"
                                                                                alt="img"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">Product Name</a></h4>
                                            <p>1 x $250</p>
                                        </div>
                                        <a class="aa-remove-product" href=""><span class="fa fa-times"></span></a>
                                    </li>
                                    <li>
                      <span id="total text" class="aa-cartbox-total-title">
                        Total
                      </span>
                                        <span id="total-rakam" class="aa-cartbox-total-price">
                        $500
                      </span>
                                    </li>
                                </ul>
                                <a id='checkout' class="aa-cartbox-checkout aa-primary-btn" href="checkout.html">Alışverişi Tamamla</a>
                            </div>
                        </div>
                        <!-- / cart box -->
                        <!-- search box -->
                        <div class="aa-search-box">

                            <form method="GET" role="search" action='{% url "products:products" %}'>
                                <input type="text" id="" placeholder="Ara" name="q"
                                value='{{ request.GET.q }}' >
                                <button type="submit"><span class="fa fa-search"></span></button>
                            </form>

                        </div>
                        <!-- / search box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header bottom  -->
</header>
<!-- / header section -->
