{% load staticfiles %}
<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Giriş Yap / Kayıt Ol</h4>
                <form class="aa-login-form" role="form" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <label for="">Kullanıcı Adı<span>*</span></label>
                    <input type="text" name="login" placeholder="Kullanıcı adı">
                    <label for="">Şifre<span>*</span></label>
                    <input type="password" name="password" placeholder="Şifre">
                    <button class="aa-browse-btn" type="submit">Giriş</button>
                    <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Beni hatırla
                    </label>
                    <p class="aa-lost-password"><a href="#">Şifremi unuttum?</a></p>
                    <div class="aa-register-now">
                        Üye değil misiniz?<a href="{% url 'account_signup' %}">Kayıt Ol!</a>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- / Login Modal -->
