{#{% if is_paginated %}#}
{#  <nav>#}
{#    <ul class="pagination">#}
{#      {% if page_obj.has_previous %}#}
{#        <li>#}
{#          <a href="?page={{ page_obj.previous_page_number }}&amp;{{queries.urlencode}}">#}
{#            <span>Previous</span>#}
{#          </a>#}
{#        </li>#}
{#      {% else %}#}
{#        <li class="disabled">#}
{#          <a href="#">#}
{#            <span>Previous</span>#}
{#          </a>#}
{#        </li>#}
{#      {% endif %}#}
{##}
{#      {% for page in paginator.page_range %}#}
{#        <li {% if page == page_obj.number %}class="active"{% endif %}>#}
{#          <a href="?page={{ page }}&amp;{{queries.urlencode}}">{{ page }}</a>#}
{#        </li>#}
{#      {% endfor %}#}
{##}
{#      {% if page_obj.has_next %}#}
{#        <li>#}
{#          <a href="?page={{ page_obj.next_page_number }}&amp;{{queries.urlencode}}">#}
{#            <span>Next</span>#}
{#          </a>#}
{#        </li>#}
{#      {% else %}#}
{#        <li {% if not page_obj.has_next %} class="disabled" {% endif %}>#}
{#          <a href="#">#}
{#            <span>Next</span>#}
{#          </a>#}
{#        </li>#}
{#      {% endif %}#}
{#    </ul>#}
{#  </nav>#}
{#{% endif %}#}
{% if is_paginated %}
<div class="aa-product-catg-pagination">
                        <nav>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?page={{ page_obj.previous_page_number }}&amp;{{queries.urlencode}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    <li {% if page == page_obj.number %} class="active"{% endif %}>
                                      <a href="?page={{ page }}&amp;{{queries.urlencode}}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                 {% if page_obj.has_next %}
                                    <li>
                                      <a href="?page={{ page_obj.next_page_number }}&amp;{{queries.urlencode}}" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                                 {% else %}
                                    <li {% if not page_obj.has_next %} class="disabled" {% endif %}>
                                      <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                                 {% endif %}
                            </ul>
                        </nav>
                    </div>
{% endif %}
