{% extends "account/base.html" %}
{% load static %}
{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

{% block title %}Kullanıcı: {{ object.username }}{% endblock %}

{% block inner %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
    <h1>Hesap Bilgilerim</h1>
      <h2>Kullanıcı Adınız: {{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary aa-submit-btn" href="{% url 'users:update' %}" role="button">Profilimi Düzenle</a>
    <a class="btn btn-primary aa-submit-btn" href="{% url 'account_email' %}" role="button">E-Postamı Değiştir</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock inner %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_home.html' %}
{% endblock %}
