
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3 centered" style="text-align: center">
        <h2>Sepetinizdeki Ürünler</h2>
    </div>
</div>
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Ürün</th>
                                        <th>Fiyat (₺)</th>
                                        <th>Adet</th>
                                        <th>Toplam</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in cart.cartitem_set.all %}
                                        <tr id='item-{{ i.item.id }}'>
                                        <td><a class="remove" href='{{ i.remove }}'>
                                            <fa class="fa fa-close"></fa>
                                        </a></td>
                                        <td><a href="#"><img src="{{ i.item.product.micro_thumb }}" alt="img"></a></td>
                                        <td><a class="aa-cart-title" href="#">{{ i.item.get_title }}</a></td>
                                        <td>{{ i.item.get_sale_price }} ,-₺</td>
                                        <td>
                                            <form action="." method="GET"><input type='hidden' name='item' value='{{ i.item.id }}'/>
                                                <input type='number' class='aa-cart-quantity' name='qty' value='{{ i.quantity }}'/>
                                                <input type='submit' class='btn-update btn btn-link' value='Update item'
                                                    style='display:none;'/>
                                            </form>
                                        </td>
                                        <td id='item-line-total-{{ i.item.id }}'>{{ i.line_item_total }} ,-₺</td>
                                        </tr>
                                    {% endfor %}
                                    {% comment %}
                                    <tr>
                                        <td colspan="6" class="aa-cart-view-bottom">
                                            <div class="aa-cart-coupon">
                                                <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                                            </div>
                                            <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                                        </td>
                                    </tr>
                                    {% endcomment %}

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>SEPET TOPLAMI :</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                <tr>
                                    <th>Toplam Tutar :</th>
                                    <td id='carttotal'>{{ cart.total }} ,-₺</td>
                                </tr>
                                </tbody>
                            </table>

                            <a class="aa-cart-view-btn" href="{% url 'checkout' %}">ALIŞVERİŞİ TAMAMLA</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>





