{% extends "__custom_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block messages %}
    {% include '_messages.html' %}
{% endblock %}

<script>
    {% block jquery %}

{#        Paynet.onPaymentClick(function () {#}
{#          if (true) {#}
{#            alert("True.");#}
{#            return true; //Gömülü form ödeme ekranı açılır.#}
{#          }else {#}
{#            alert("Uyarı.");#}
{#            return false;    //Gömülü form ödeme ekranı açılmaz.#}
{#         }#}
{#    });#}

    {% endblock %}
</script>

{% block inner %}


    {% if not user_can_continue %}
        <div class='col-sm-6'>
            <p class='lead'>Üye olmadan satın alacağım!</p>


            <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}
                <input type='submit' class='btn-block aa-submit-btn' value='Üye olmadan devam et'/>
            </form>


        </div>
        <div class='col-sm-6'>
            <p class='lead'>Giriş yaparak devam edeceğim!</p>
            <form method='POST' action="{% url 'account_login' %}"> {% csrf_token %}
                {{ login_form|crispy }}

                <input type='hidden' name='next' value='{{ next_url }}'/>
                <input type='submit' class='btn-block aa-submit-btn' value='Giriş Yap'/>
            </form>
            <p class='text-center'>

            <p>{% trans "Forgot password" %}? <a href="{% url 'account_reset_password' %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>!</p>
            </p>

        </div>

    {% else %}

    {% include "orders/order_summary_short.html" with order=order %}

    {% endif %}

{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_cart.html' %}
{% endblock %}
