{% extends "__custom_base.html" %}
{% load staticfiles %}

{% block messages %}
{#    {% include '_messages.html' %}#}
{% endblock %}


{% block inner %}


    <div class='row main-content'>

        {% if object.cartitem_set.count < 1 %}

            {% include "carts/empty_cart.html" %}
        {% else %}
            {% comment %}
            <div class='col-sm-8 col-sm-offset-2'>

                <h1>Sepetinizdeki Ürünler</h1>
                <table class='table'>
                    {% for item in object.cartitem_set.all %}

                        <tr id='item-{{ item.item.id }}'>

                            <td>{{ item.item.get_title }}</td>
                            <td>
                                <form action="." method="GET"><input type='hidden' name='item' value='{{ item.item.id }}'/>
                                    <input type='number' class='item-qty' name='qty' value='{{ item.quantity }}'/>
                                    <input type='submit' class='btn-update btn btn-link' value='Update item'
                                        style='display:none;'/>
                                </form>
                            </td>
                            <td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
                            <td class='text-right'><a href='{{ item.remove }}'>X</a></td>
                        </tr>

                    {% endfor %}

                    <tr>
                        <td colspan='4' class='text-right'>KDV 'siz Toplam : <span id='subtotal'>{{ object.subtotal }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan='4' class='text-right'>KDV : <span id='taxtotal'>{{ object.tax_total }}</span></td>
                    </tr>

                    <tr>
                        <td colspan='4' class='text-right'>Toplam : <span id='carttotal'>{{ object.total }}</span></td>
                    </tr>


                    <tr>
                        <td colspan='4' class='text-right'>
                            <a class='btn btn-warning' href="{% url 'checkout' %}">Alışverişi Tamamla</a>
                        </td>
                    </tr>

                </table>


            </div>
            {% endcomment %}
            {% include "carts/cart_summary.html" with cart=object %}
        {% endif %}

    </div>
{% endblock %}

{% block javascript_section %}
    {% include '_javascripts/_javascript_cart.html' %}
{% endblock %}
