{% extends "_javascripts/_javascript_base.html" %}

{% block custom_javascript %}

<script>
    {% block javascript_section %}
        $(".item-qty").change(function () {
            // $(this).next(".btn-update").fadeIn();

            // event.preventDefault();
            // .prev(h1)
            var item = $(this).prev("input[type='hidden']").val();
            var qty = $(this).val();
            var data = {
                item: item,
                qty: qty
            };
            console.log(data);
            $.ajax({
                type: "GET", // "POST"
                url: "{% url 'cart' %}",
                data: data,
                success: function (data) {
                    $("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted);
                    if (data.deleted) {
                        $("#item-" + item).fadeOut();
                        $("#subtotal").text(data.subtotal);
                        $("#taxtotal").text(data.tax_total);
                        $("#carttotal").text(data.cart_total);
                    } else {
                        $("#item-line-total-" + item).text(data.line_total);
                        $("#subtotal").text(data.subtotal);
                        $("#taxtotal").text(data.tax_total);
                        $("#carttotal").text(data.cart_total);
                    }

                    if (data.total_items == 0) {
                        $(".table").fadeOut();
                        var template = "{% include 'carts/empty_cart.html' %}";
                        $(".main-content").html(template);

                    }

                    var message = "";
                    if (data.item_added) {
                        message = "Ürün sepetinize eklendi."
                    } else if (data.deleted) {
                        message = "Ürün sepetten çıkarıldı."
                    } else {
                        message = "Ürün adeti güncellendi."
                    }
                    showFlashMessage(message);
                    updateCartItemCount()
                },
                error: function (response, error) {
                    // console.log(response)
                    // console.log(error)
                    $("#add-form").submit()
                }
            })


        });

    {% endblock %}
</script>

{% endblock %}
