{% extends '_javascripts/_javascript_base.html' %}
{% load staticfiles %}
<!-- aşağıdaki fonksiyon django template tag içerdiği için .js dosyasına koyamıyoruz. -->

{% block product_view_slider %}
<!-- Product view slider -->
<script type="text/javascript" src="{% static 'js/jquery.simpleGallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.simpleLens.js' %}"></script>
{% endblock %}


{% block slick_slider %}
<!-- slick slider -->
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
{% endblock %}

{% block raw_js %}
    <!-- Custom js -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- istebu js -->
<script src="{% static 'js/istebu.js' %}"></script>

{% endblock %}

{% block custom_javascript %}
<script>
    jQuery('.simpleLens-thumbnails-container img').simpleGallery({
        loading_image: '{% static 'img/view-slider/loading.gif' %}'
    });

    jQuery('.simpleLens-big-image').simpleLens({
        loading_image: '{% static 'img/view-slider/loading.gif' %}'
    });
</script>
{% endblock %}
