{% extends '_javascripts/_javascript_base.html' %}
{% load staticfiles %}
<!-- aşağıdaki fonksiyon django template tag içerdiği için .js dosyasına koyamıyoruz. -->

{% block smart_menus %}
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'js/jquery.smartmenus.js' %}"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'js/jquery.smartmenus.bootstrap.js' %}"></script>
{% endblock %}


{% block slider %}
<!-- To Slider JS -->
<script src="{% static 'js/sequence.js' %}"></script>
<script src="{% static 'js/sequence-theme.modern-slide-in.js' %}"></script>
{% endblock %}

{% block product_view_slider %}
<!-- Product view slider -->
<script type="text/javascript" src="{% static 'js/jquery.simpleGallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.simpleLens.js' %}"></script>
{% endblock %}


{% block slick_slider %}
<!-- slick slider -->
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
{% endblock %}


{% block price_picker_slider %}
<!-- Price picker slider / Buna anasayfada gerek yok -->
<script type="text/javascript" src="{% static 'js/nouislider.js' %}"></script>
{% endblock %}

{% block custom_javascript %}

<script>
// bu fonksiyon custom_message.js dosyasımda idi...
function showFlashMessage(message) {
    //console.log("showFlashMessaje çalıştı");
    var template = "<div id='flash-message' class='container container-alert-flash'>" +
        "<div class='col-sm-3 col-sm-offset-8'> " +
        "<div class='alert alert-success alert-dismissible' role='alert'>" +
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span></button>"
        + message + "</div></div></div>";
    //console.log(template)
    $("body").append(template);
    $(".container-alert-flash").fadeIn();

    setTimeout(function () {
        $(".container-alert-flash").fadeOut();
        $(".container-alert-flash").promise().done(function() {
            var element = document.getElementById("flash-message");
            element.parentNode.removeChild(element);
        });
    }, 1800);

}

// bu anasayfadaki herhangi bir ürüne tıklandığında çalışan fonksiyon...
$('.aa-add-card-btn').click( function(e) {
    e.preventDefault();
    var product_id = this.dataset['productid'];
    //console.log('Add to cart clicklendi, product_id:', product_id);
    $.ajax({
        type: "GET", // "POST"
        url: "{% url 'cart' %}",
        data: "item=" + product_id + "&qty=" + 1,
        success: function (data) {
            //console.log('success çalıştı');
            //console.log(data);
            updateCartItemCount();
            getCartItems();
            showFlashMessage(data.flash_message);
        },
        error: function (response, error) {
            // console.log(response)
            // console.log(error)
            $("#add-form").submit(); //bu çalışmaz
        }
    });
    return false;
} );

function removeProduct(product) {
    var product_id = product.id;
    //console.log('product_id : ', product_id);
    $.ajax({

            type: "GET", // "POST"
            url: "{% url 'cart' %}",
            data: "item=" + product_id + "&qty=0",
            success: function (data) {
                //console.log('success çalıştı');
                //console.log(data);
                updateCartTotal();
                updateCartItemCount();
                $(product.parentElement).fadeOut(800);
                showFlashMessage(data.flash_message);
            },
            error: function (response, error) {
                // console.log(response)
                // console.log(error)
                $("#add-form").submit(); //bu çalışmaz
            }
        });

}

function updateCartItemCount() {
    var badge = $("#cart-count-badge");

    $.ajax({
        type: "GET",
        url: "{% url 'item_count' %}",
        success: function (data) {
            badge.text(data.count);
            //console.log(data.count);

        },
        error: function (response, error) {
            console.log(response);
            console.log(error);
        }

    });

}

function getCartItems() {
    var template = '<li id="list-id" style="display: none;">' +
                        '<a class="aa-cartbox-img" id="product-image" href="#"><img src="#" alt="img"></a>' +
                            '<div class="aa-cartbox-info">' +
                               '<h4><a id="some-id" href="#">Product Name</a></h4>' +
                                '<p><span id="adet">1</span> x <span id="fiyat">$250</span></p>' +
                            '</div>' +
                            '<a id="product-id" class="aa-remove-product" href="#" onclick="return removeProduct(this);">' +
                            '<span class="fa fa-times"></span></a>' +
                    '</li>';
    var cart_summary = $("#cartbox-summary");

    cart_summary.empty();
    $.ajax({
        type: "GET",
        url: "{% url 'cart_api:api_cartitems_list' %}",
        success: function (data) {
            var cart_total = 0;
            //console.log(data);
            if (data.length > 0) {

                var data_to_be_looped = data[0].items; // items arrayimiz

                $.each(data_to_be_looped, function (arrayID, object) {

                    //önce ekledik.
                    cart_summary.append(template);

                    var new_title_id = "product" + arrayID;
                    var new_image_id = "image" + arrayID;
                    var new_adet_id = "adet" + arrayID;
                    var new_fiyat_id = "fiyat" + arrayID;
                    var new_list_id = "list" + arrayID;

                    $('#some-id').attr('id', new_title_id);
                    $('#product-image').attr('id', new_image_id);
                    $('#adet').attr('id', new_adet_id);
                    $('#fiyat').attr('id', new_fiyat_id);
                    $('#product-id').attr('id', object.product_id);
                    $('#list-id').attr('id', new_list_id);

                    var product_title = $("#" + new_title_id);
                    var product_image = $("#" + new_image_id);
                    var product_adet = $("#" + new_adet_id);
                    var product_fiyat = $("#" + new_fiyat_id);
                    var list = $("#" + new_list_id);



                    product_title.text(object.product_title);
                    product_title.attr('href', object.product_url);
                    product_image.find('img').attr('src', object.image);
                    product_image.attr('href', object.product_url);
                    product_fiyat.text(object.sale_price + ' ,-₺');
                    product_adet.text(object.quantity);

                    cart_total += object.sub_total;

                    $(list).appendTo('#cartbox-summary').show(1000);
                    console.log('list = ', list);


                });

                var total_section = '<li>' +
                    '<span class="aa-cartbox-total-title">' +
                    'Toplam :' +
                    '</span>' +
                    '<span id="total-rakam" class="aa-cartbox-total-price">' +
                    '$500' +
                    '</span>' + '</li>';
                cart_summary.append(total_section);
            }

            $("#total-rakam").text(parseFloat(cart_total).toFixed(2) + ' ₺');
            if (cart_total == 0) {
                //console.log('sepet boş da niye seçemiyor?');
                $("#checkout").attr('href', '#');
                $("#checkout").text('Sepetiniz Boş');
            }else{
                $("#checkout").attr('href', '{% url "checkout" %}');
                $("#checkout").text('Alışverişi Tamamla');
            }

        },

        error: function (response, error) {
            console.log(response);
            console.log(error);
        }

    });

}

function updateCartTotal() {

    $.ajax({
        type: "GET",
        url: "{% url 'cart_api:api_cartitems_list' %}",
        success: function (data) {
            var cart_total = 0;
            //console.log(data);
            if (data.length > 0) {
                var data_to_be_looped = data[0].items; // items arrayimiz

                $.each(data_to_be_looped, function (arrayID, object) {
                    cart_total += object.sub_total;
                });
            }

            $("#total-rakam").text(parseFloat(cart_total).toFixed(2) + ' ₺');
            if (cart_total == 0) {
                //console.log('sepet boş da niye seçemiyor?');
                $("#checkout").attr('href', '#');
                $("#checkout").text('Sepetiniz Boş');
            }else{
                $("#checkout").attr('href', '{% url "checkout" %}');
                $("#checkout").text('Alışverişi Tamamla');
            }


        },

        error: function (response, error) {
            console.log(response);
            console.log(error);
        }

    });

}

$(document).ready(function () {
    updateCartItemCount();
    getCartItems();
});

</script>

{% endblock %}